# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/

# Virtual environments
.venv/
venv/
env/

# IDE / editor
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Empty PyCharm artefacts
Python Console.py
